html {
  font-size: 6.25%;
}

* {
  font-family: "Museo Sans Cyrl", sans-serif;
}

body {
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 14rem;
}

.container {
  width: 950px;
  max-width: 100%;
  margin: 0 auto;
}