.button {
  text-transform: uppercase;
  background-color: var(--primary-color-1);
  color: var(--primary-color-2);
  border-radius: 5px;
  border: none;
  font-size: 12rem;
  font-weight: 500;
  padding: 8px 19px;
}