
:root {
  // base

  // colors
  --primary-color-1: #C70101;
  --primary-color-2: #FFFFFF;
  --primary-color-3: #0D0D0D;
  --secondary-color-1: #FF0000;
  --secondary-color-2: #F6F6F6;
  --secondary-color-3: #6B6B6B;
  --form-text-color: #4B4B4B;
  --border-color-1: #D0D0D0;
  --border-color-2: #E8E8E8;
  --discount-color: #555555;
  --sub-text-color: #646464;
}